body{
	background: #43cea2; 
	/* For browsers that do not support gradients */
	/*background: -webkit-linear-gradient(to bottom, #43cea2 , #185a9d);*/
	/* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to bottom, #43cea2 , #185a9d); */
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size: 20px; 
	color: white;
}
#app-container{
	background-image: url('img/chrome-iphone6-432x882@2x.jpg');
	background-size: 100%;
	width: 432px;
	height: 882px;
	z-index: -1;
	margin: 0 auto;
}
#app-content{
	width: 375px;
	height: 667px;
	background-color: white;
	overflow: hidden;
	position: relative;
	top: 12%;
	margin: 0 auto;
}
.flexbox{
	position: relative;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */	
}
.login-logo{
	margin: auto;
 	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	height:200px;
  	width:80%;
}
.login-buttons{
 	margin: auto;
 	position: absolute;
  	top: 75%; left: 0; bottom: 0; right: 0;
}
.home-header-section{ 
	height: 50vh;
}
.home-header-logo{
	background-color: purple;
}
.home-news-section{
	height: 10vh;
	background:grey;
}
.home-section-title{
	height: 10vh;
	background:green;
}
.home-region-list{
	height: 25vh;
	background-color: yellow;
}
