/*CSS for Admin Dashboard Starts Here*/
.usersSection{
  background-color: grey;
}
/*CSS for Admin Dashboard Ends Here*/

/*CSS for Nav Bar Starts Here*/
/*.nav-bar{
  background-color: grey;
  height: 3em;
}
.nav-bar-left{
  background-color: red;
  height: 3em;
  width: 3em;
  display: inline-block;
  position: ;
}
.nav-bar-text{
  background-color: blue;
  height: 3em;
  width: 3em;
  display: inline-block;
}
.nav-bar-right{
  background-color: yellow;
  height: 3em;
  width: 3em;
  display: inline-block;
  float: right;
}*/
/*CSS for Nav Bar Ends Here*/


