.login-logo{
	margin: auto;
 	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	height:200px;
  	width:80%;
}
.login-buttons{
 	margin: auto;
 	position: absolute;
  	top: 75%; left: 0; bottom: 0; right: 0;
}