.pitch-info{
	padding-top: 9vh;
	height: 100vh;
}
.pitch-info-container{
}
.pitch-info-image{	
 	height: 48vh;
 	filter: brightness(50%);
}
.pitch-info-title{
	height: 5vh;
  	background-color: black;
  	color:white;
}
.pitch-info-description{
	height: 30vh;	
	font-size: 16px;
}

.book-now-button{
	height: 8vh;
	width: 100%;
	background-color: #F52549;
	color: white;
}